/*General*/

/*Polices*/
@font-face {
	font-family: "Aniron";
	src: url('police/anicb___.ttf');
}
@font-face {
	font-family: "partyBusiness";
	src: url('police/partybusiness.ttf');
}

/* police des titres*/

h2,h1,h3,h4,h5,h6{
    font-family: "Aniron";
}
/*Police du site*/
p, a, li {
    font-family: "partyBusiness";
    font-size: 25px;
}
.withOutPolice {
	font-family: serif;
}	

/* saut de ligne*/
.brStyle {
	margin-top:20px;
}

/* Pas de bleu dans les lien HTML*/
.nav-link, .nav-link:visited, .nav-link:hover, .nav-link:focus, .nav-link:active  { 
	color:#FFFFFF; 
	text-decoration:none; 
}

 /*<!-- Titre Principal-->*/



/*NavBar*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link .btn .btn-primary {
    color: #fff;
     background-color: #8e8989; 
}
.logo{
	padding-right : 100px;
}


/* Texte*/
.reward {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10%;
  color: black;
  font-size: 15px;
  padding: 0px 100px;
  text-align: center; 
}

.red{
  color: #ff6600; 
}

.gandalf {
  color: white;
  font-size: 40px;
  padding: 90px 60px;
  text-align: center; 
}


.sousContener {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 6%;
}
/*Caroussel*/
.BigPolice {
	font-size: 1.8em;
}
.carousel-caption {
	margin-bottom:12%;
}
.carousel-control-prev-icon{
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image:url("images/FlecheG.png");
}
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image:url("images/FlecheD.png");
}
/*Fellows wanted dead*/

/*image*/
.background-Image {
	background-image:url("images/bg_light.png");
}	
    /* Image non survolée*/

.opacity {
  opacity: 0.4;
  height: 350px;
  width: 100%;
  position:relative;
}

    /* Image survolée*/
.opacity:hover {
  opacity: 1;
}
.opacity:hover #sousContener{visibility:hidden} 
.opacity:hover .gandalf{ 
    visibility: visible;
    font-size: 25px;
    position:absolute; 
    top: 220%;
    left: 40px;
} 

/*-- Paragraphe The Ring */
/* Image ronde*/
.img-circle {
	border-radius:55px;
	}

/*-- Paragraphe The Ring */
.sizeFooter{
	max-height: 150px;
}
/* Lien html non soulgné*/
.menu-a, .menu-a:visited, .menu-a:hover, .menu-a:focus, .menu-a:active  { 
	color:#FFFFFF; 
	text-decoration:none; 
}